{% extends 'layouts/base.html.twig' %}

{% block title %}Edit {{ event.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 h2 font-weight-light">Editing {{ event.name }}</h1>

            {{ include('events/_form.html.twig', {'submitButtonText': 'Update Event', 'cancelUrl': path('events.show', {'id': event.id})}) }}
        </div>
    </div>
{% endblock %}
